colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.3
cycler==0.12.1
easydev==0.13.3
fonttools==4.59.2
kiwisolver==1.4.9
line_profiler==4.2.0
matplotlib==3.10.6
numpy==2.3.3
packaging==25.0
pandas==2.3.2
patsy==1.0.1
periodicity-detection==0.1.3
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.4.0
ptyprocess==0.7.0
pyparsing==3.2.4
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.16.2
six==1.17.0
spectrum==0.9.0
statsmodels==0.14.5
typing_extensions==4.15.0
tzdata==2025.2
